<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension
    	point="org.eclipse.ui.views">
      	<view
            allowMultiple="false"
            category="org.seisint.eclide.internal.ui.views"
            class="org.seisint.eclide.internal.debug.ui.views.SymbolsView"
            id="org.seisint.eclide.debug.ui.views.SymbolsView"
            icon="icons/obj16/oct_obj.gif"
            name="%SymbolsView.Name">
      	</view>
   	</extension>
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer
			class="org.seisint.eclide.internal.debug.ui.preferences.OctaveConsolePreferenceInitializer" />
	</extension>
	<extension point="org.eclipse.ui.commands">
		<command name="%ActionDefinition.RunOctaveScript.name"
			description="%ActionDefinition.RunOctaveScript.description"
			categoryId="org.eclipse.debug.ui.category.run"
			id="org.seisint.eclide.debug.ui.launchShortcut.run">
		</command>
		<command name="%ActionDefinition.DebugOctaveScript.name"
			description="%ActionDefinition.DebugOctaveScript.description"
			categoryId="org.eclipse.debug.ui.category.run"
			id="org.seisint.eclide.debug.ui.launchShortcut.debug">
		</command>
		<command
	      	id="org.seisint.eclide.debug.ui.commands.toggleGlobalVariables"
	      	description="%showGlobalVarsCommand.name"
	      	name="%showGlobalVarsCommand.description" />
	    <command
	      	id="org.seisint.eclide.debug.ui.commands.toggleLocalVariables"
	      	description="%showLocalVarsCommand.name"
	      	name="%showLocalVarsCommand.description" />      
		</extension>
	<extension point="org.eclipse.ui.bindings">
		<key
			commandId="org.seisint.eclide.debug.ui.launchShortcut.run"
			contextId="org.eclipse.ui.globalScope"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="M3+M2+X F">
		</key>
		<key
			commandId="org.seisint.eclide.debug.ui.launchShortcut.debug"
			contextId="org.eclipse.ui.globalScope"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="M3+M2+D F">
		</key>
	</extension>
	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution adaptable="false"
			id="org.seisint.eclide.debug.ui.objectContribution1"
			nameFilter="*" objectClass="org.eclipse.dltk.core.ISourceModule">
			<action
				class="org.seisint.eclide.internal.debug.console.ui.actions.PasteOctaveScriptToConsole"
				id="org.seisint.eclide.debug.console.ui.actions.PasteOctaveTextToConsoleAction"
				label="%OctaveConsole.Actions.PasteToOctaveConsole" />
		</objectContribution>
		<viewerContribution
			id="org.seisint.eclide.debug.ui.viewerContribution1"
			targetID="#OctaveEditorContext">
			<action
				id="org.seisint.eclide.debug.console.ui.actions.PasteToOctaveConsoleAction"
				label="%OctaveConsole.Actions.PasteToOctaveConsole"
				menubarPath="additions"
				class="org.seisint.eclide.internal.debug.console.ui.actions.PasteOctaveTextToConsoleAction">
			</action>
		</viewerContribution>
		<viewerContribution
			id="org.seisint.eclide.debug.ui.rulerContribution"
			targetID="#OctaveRulerContext">
			<action label="%EnableDisableBreakpoint.label"
				id="org.seisint.eclide.debug.ui.actions.RulerEnableDisableBreakpointActionDelegate"
				class="org.eclipse.debug.ui.actions.RulerEnableDisableBreakpointActionDelegate"
				menubarPath="debug">
			</action>
			<action label="%ToggleBreakpoint.label"
				id="org.seisint.eclide.debug.ui.actions.RulerToggleBreakpointActionDelegate"
				class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
				menubarPath="debug">
			</action>
			<action
				class="org.eclipse.dltk.debug.ui.actions.ScriptBreakpointPropertiesRulerActionDelegate"
				id="org.seisint.eclide.debug.ui.ScriptBreakpointPropertiesRulerActionDelegate"
				label="%BreakpointProperties.label" 
				menubarPath="group.properties" />
		</viewerContribution>
	</extension>
	<extension point="org.eclipse.ui.actionSetPartAssociations">
		<actionSetPartAssociation
			targetID="org.eclipse.debug.ui.launchActionSet">
			<part id="org.seisint.eclide.ui.editor.OctaveEditor"></part>
		</actionSetPartAssociation>
		<actionSetPartAssociation
			targetID="org.eclipse.debug.ui.launchActionSet">
			<part id="org.eclipse.dltk.ui.ScriptExplorer"></part>
			<part id="org.seisint.eclide.ui.editor.OctaveEditor"></part>
		</actionSetPartAssociation>
	</extension>
	<extension
		point="org.eclipse.ui.console.consolePatternMatchListeners">
		<consolePatternMatchListener
			class="org.seisint.eclide.internal.debug.console.ui.OctaveConsoleTracker"
			regex="\(file &quot;.*&quot; line .*\)"
			id="org.seisint.eclide.debug.ui.OctaveConsoleTracker">
			<enablement>
				<or>
					<test
						property="org.eclipse.debug.ui.processTypeTest"
						value="octaveInterpreter" />
				</or>
			</enablement>
		</consolePatternMatchListener>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page category="org.seisint.eclide.ui.preferences"
			class="org.seisint.eclide.internal.debug.ui.interpreters.OctaveInterpreterPreferencePage"
			id="org.seisint.eclide.preferences.interpreters"
			name="%InterpretersPreferencePage" />
		<page category="org.seisint.eclide.ui.preferences"
			class="org.seisint.eclide.internal.debug.ui.preferences.OctaveDebugPreferencePage"
			id="org.seisint.eclide.preferences.debug"
			name="%Debug.PreferencePage" />
		<page category="org.seisint.eclide.ui.preferences"
			class="org.seisint.eclide.internal.debug.ui.preferences.OctaveConsolePreferencePage"
			id="org.seisint.eclide.preferences.console"
			name="%OctaveConsole.PreferencePage" />
 		<page category="org.seisint.eclide.preferences.debug"
            class="org.seisint.eclide.internal.debug.ui.preferences.OctaveDebugEnginePreferencePage"
            id="org.seisint.eclide.preferences.debug.engine"
            name="%Engines.PreferencePage" />			
        <page
            category="org.seisint.eclide.preferences.debug"
            class="org.eclipse.dltk.debug.ui.preferences.ScriptDetailFormattersPreferencePage:org.seisint.eclide.core.nature"
            id="org.seisint.eclide.preferences.debug.detailFormatters"
            name="%DetailFormattersPreferencePage.name" />        
	</extension>
	<extension point="org.eclipse.ui.editorActions">
		<editorContribution
			targetID="org.seisint.eclide.ui.editor.OctaveEditor"
			id="org.seisint.eclide.debug.OctaveEditor.BreakpointRulerActions">
			<action label="Toogle Breakpoint (label not used)"
				class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
				style="push" actionID="RulerDoubleClick"
				id="OctaveEditor.doubleClickBreakpointAction" />
		</editorContribution>
	</extension>
	<extension point="org.eclipse.ui.console.consoleFactories">
		<consoleFactory
			class="org.seisint.eclide.internal.debug.console.ui.OctaveConsoleFactory"
			icon="icons/obj16/console_obj.gif" label="%OctaveConsole.Console" />
	</extension>
	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension
			targetID="org.seisint.eclide.ui.OctavePerspective">
			<actionSet id="org.eclipse.debug.ui.breakpointActionSet" />
		</perspectiveExtension>
	</extension>
	<extension
		point="org.eclipse.debug.ui.launchConfigurationTypeImages">
		<launchConfigurationTypeImage
			icon="$nl$/icons/obj16/oct_obj.gif"
			configTypeID="org.seisint.eclide.launching.OctaveLaunchConfigurationType"
			id="org.seisint.eclide.debug.ui.launchConfigurationTypeImage">
		</launchConfigurationTypeImage>
	</extension>
	<extension
		point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
			class="org.seisint.eclide.internal.debug.ui.launch.configurations.OctaveTabGroup"
			description="%OctaveTabGroup.description"
			id="org.seisint.eclide.debug.ui.launchConfigurations.OctaveTabGroup"
			type="org.seisint.eclide.launching.OctaveLaunchConfigurationType">
		</launchConfigurationTabGroup>
	</extension>
	<extension point="org.eclipse.debug.ui.launchShortcuts">
		<shortcut
			class="org.seisint.eclide.internal.debug.ui.launch.OctaveLaunchShortcut"
			description="%OctaveLaunchShortcut.description"
			icon="icons/obj16/oct_obj.gif"
			id="org.seisint.eclide.debug.ui.launchShortcut"
			label="%OctaveLaunchShortcut.name" modes="run, debug">
			<description 
				description="%OctaveLaunchShortcut.runDescription"
				mode="run">
			</description>
			<description
				description="%OctaveLaunchShortcut.debugDescription" 
				mode="debug">
			</description>
			<contextualLaunch>
				<enablement>
					<with variable="selection">
						<count value="1" />
						<iterate>
							<or>
								<test
									args="org.seisint.eclide.core.nature"
									property="org.eclipse.dltk.launching.hasProjectNature" />
							</or>
						</iterate>
					</with>
				</enablement>
				<contextLabel label="%OctaveLaunchShortcut.runName"
					mode="run">
				</contextLabel>
				<contextLabel label="%OctaveLaunchShortcut.debugName"
					mode="debug">
				</contextLabel>
			</contextualLaunch>
		</shortcut>
	</extension>
	<extension point="org.eclipse.debug.ui.debugModelContextBindings">
		<modelContextBinding
			contextId="org.eclipse.dltk.debug.ui.debugging"
			debugModelId="org.seisint.eclide.debug.octaveModel" />
	</extension>
	<extension point="org.eclipse.debug.ui.debugModelPresentations">
		<debugModelPresentation
			class="org.seisint.eclide.internal.debug.ui.OctaveDebugModelPresentation"
			id="org.seisint.eclide.debug.octaveModel" />
	</extension>	
	<extension
		point="org.eclipse.debug.core.watchExpressionDelegates">
		<watchExpressionDelegate
			debugModel="org.seisint.eclide.debug.octaveModel"
			delegateClass="org.seisint.eclide.internal.debug.ui.OctaveWatchExpressionDelegate">
		</watchExpressionDelegate>
	</extension>
	<extension point="org.eclipse.dltk.ui.buildpathContainerPage">
		<buildpathContainerPage
			class="org.seisint.eclide.internal.debug.ui.interpreters.OctaveInterpreterContainerWizardPage"
			id="org.seisint.eclide.launching.INTERPRETER_CONTAINER"
			name="ECL Compiler Libraries"
			nature="org.seisint.eclide.core.nature" />
	</extension>
	<extension point="org.eclipse.dltk.console.ui.scriptConsole">
		<scriptConsole
			class="org.seisint.eclide.internal.debug.console.ui.OctaveConsoleFactory"
			natureID="org.seisint.eclide.core.nature" />
	</extension>
	<extension point="org.eclipse.core.runtime.adapters">
       <factory
          adaptableType="org.seisint.eclide.internal.ui.editor.OctaveEditor"
          class="org.seisint.eclide.internal.debug.ui.OctaveEditorDebugAdapterFactory">
           <adapter type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget"/>
           <adapter type="org.eclipse.debug.ui.actions.IRunToLineTarget"/>
       </factory>         
    </extension>
 	<extension point="org.eclipse.ui.propertyPages">
    	<page
      		class="org.seisint.eclide.internal.debug.ui.preferences.OctaveDebugPreferencePage"
      		category="org.seisint.eclide.propertyPage"
      		id="org.seisint.eclide.propertyPage.debug"
      		name="%Debug.PropertyPage">
      		<enabledWhen>
        		<adapt type="org.eclipse.core.resources.IProject">
          			<test property="org.eclipse.core.resources.projectNature" value="org.seisint.eclide.core.nature"/>
        		</adapt>         
      		</enabledWhen>
   		</page>
   		<page
      		class="org.seisint.eclide.internal.debug.ui.preferences.OctaveDebugEnginePreferencePage"
      		category="org.seisint.eclide.propertyPage.debug"
      		id="org.seisint.eclide.propertyPage.debug.engine"
 	 	    name="%Engines.PropertyPage">
      		<enabledWhen>
        		<adapt type="org.eclipse.core.resources.IProject">
          			<test property="org.eclipse.core.resources.projectNature" value="org.seisint.eclide.core.nature"/>
        		</adapt>         
      		</enabledWhen>
   		</page>        
   	</extension>  
   	<extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="menu:org.eclipse.debug.ui.VariableView">
      	<menu
        	label="%variablesViewMenu.name"
        	id="org.seisint.eclide.debug.ui.menu.VariableView" />
    	</menuContribution>
    	<menuContribution locationURI="menu:org.eclipse.dltk.tcl.debug.ui.menu.VariableView">
      		<command 
	        	commandId="org.seisint.eclide.debug.ui.commands.toggleGlobalVariables"
	        	tooltip="%showGlobalVarsCommand.tooltip"     
	        	style="toggle" />    
      		<command 
		        commandId="org.seisint.eclide.debug.ui.commands.toggleLocalVariables"
		        tooltip="%showLocalVarsCommand.tooltip" 
		        style="toggle" />                      
    	</menuContribution>  
  	</extension>
  	<extension point="org.eclipse.ui.handlers">
	    <handler 
	    	commandId="org.seisint.eclide.debug.ui.commands.toggleGlobalVariables"
	      	class="org.seisint.eclide.internal.debug.ui.handlers.ToggleGlobalVariablesHandler" />
	    <handler 
	      	commandId="org.seisint.eclide.debug.ui.commands.toggleLocalVariables"
	      	class="org.seisint.eclide.internal.debug.ui.handlers.ToggleLocalVariablesHandler" />      
  	</extension>
  	<extension point="org.eclipse.dltk.ui.editorTextHovers">
		<hover label="%OctaveDebugHover.label"
			description="%OctaveDebugHover.description"
			class="org.seisint.eclide.internal.debug.ui.OctaveDebugHover"
			id="org.seisint.eclide.internal.debug.ui.OctaveDebugHover">
		</hover>
	</extension>  	
	
    <extension point="org.eclipse.dltk.debug.ui.language">
        <language
            class="org.seisint.eclide.internal.debug.ui.OctaveDebugUILanguageToolkit"
            nature="org.seisint.eclide.core.nature"/>
    </extension>
	
</plugin>
