<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.hpccsystems.eclide.perspectives.ECLPerspective"
            icon="icons/releng_gears.gif"
            id="org.hpccsystems.eclide.perspectives.ECLPerspective"
            name="ECL Development">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.hpccsystems.eclide.preferences.ECLPreferencePage"
            id="org.hpccsystems.eclide.preferences.ECLPreferencePage"
            name="ECL Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.hpccsystems.eclide.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/sample.gif"
            id="org.hpccsystems.eclide.navigator"
            name="ECL Explorer">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="org.hpccsystems.eclide.navigator">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="org.hpccsystems.eclide.navigator">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
			<contentExtension pattern="org.eclipse.jdt.java.ui.javaContent" />
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="org.hpccsystems.eclide.navigator"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.navigator.ProjectExplorer">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.hpccsystems.eclide.editors.ECLEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="ecl"
            icon="icons/sample.gif"
            id="org.hpccsystems.eclide.editors.ECLEditor"
            name="ECL Editor">
      </editor>
   </extension>
   <extension
         id="eclBuilder"
         name="ECL Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.hpccsystems.eclide.builder.ECLBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="eclNature"
         name="ECL Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.hpccsystems.eclide.builder.ECLNature">
         </run>
      </runtime>
      <builder
            id="org.hpccsystems.eclide.eclBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.hpccsystems.eclide.contribution1"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.hpccsystems.eclide.builder.ToggleNatureAction"
               enablesFor="+"
               id="org.hpccsystems.eclide.addRemoveNatureAction"
               label="Add/Remove ECL Nature"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="eclProblem"
         name="ECL Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>

</plugin>
