<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.hpccsystems.eclide.perspectives.ECLPerspective"
            icon="icons/releng_gears.gif"
            id="org.hpccsystems.eclide.perspectives.ECLPerspective"
            name="%perspective.name.0">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.hpccsystems.eclide.preferences.ECLGlobalPreferencePage"
            id="org.hpccsystems.eclide.preferences.ECLGlobalPreferencePage"
            name="%page.name.1">
      </page>
      <page
            category="org.hpccsystems.eclide.preferences.ECLGlobalPreferencePage"
            class="org.hpccsystems.eclide.preferences.ECLCompilerPreferencePage"
            id="org.hpccsystems.eclide.preferences.ECLPreferencePage"
            name="%page.name.2">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.hpccsystems.eclide.preferences.ECLPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.hpccsystems.eclide"
            name="%category.name.1">
      </category>
      <view
            category="org.hpccsystems.eclide"
            class="org.hpccsystems.eclide.ui.navigator.ECLNavigator"
            icon="icons/releng_gears.gif"
            id="org.hpccsystems.eclide.navigator"
            name="%view.name.0">
      </view>
      <view
            category="org.hpccsystems.eclide"
            class="org.hpccsystems.eclide.ui.viewer.HtmlViewer"
            id="org.hpccsystems.eclide.htmlView"
            name="%view.name.1">
      </view>
      <view
            allowMultiple="false"
            category="org.hpccsystems.eclide"
            class="org.hpccsystems.eclide.ui.viewer.platform.PlatformViewer"
            icon="icons/releng_gears.gif"
            id="org.hpccsystems.eclide.viewPlatforms"
            name="Servers"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="org.hpccsystems.eclide.navigator">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="org.hpccsystems.eclide.navigator">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
			<contentExtension pattern="org.eclipse.jdt.java.ui.javaContent" />
   <contentExtension
         isRoot="true"
         pattern="org.hpccsystems.eclide.navigatorContent.eclLibrary">
   </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="org.hpccsystems.eclide.navigator"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.navigator.ProjectExplorer">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.hpccsystems.eclide.editors.ECLEditor"
            contributorClass="org.hpccsystems.eclide.editors.ECLEditorActionContributor"
            extensions="ecl"
            icon="icons/releng_gears.gif"
            id="org.hpccsystems.eclide.editors.ECLEditor"
            name="%editor.name.0">
      </editor>
   </extension>
   <extension
         id="eclBuilder"
         name="%extension.name.2"
         point="org.eclipse.core.resources.builders">
      <builder hasNature="true">
         <run
               class="org.hpccsystems.eclide.builder.ECLBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="eclNature"
         name="%extension.name.3"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.hpccsystems.eclide.builder.ECLNature">
         </run>
      </runtime>
      <builder
            id="org.hpccsystems.eclide.eclBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.hpccsystems.eclide.contribution1"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.hpccsystems.eclide.builder.ToggleNatureAction"
               enablesFor="+"
               id="org.hpccsystems.eclide.addRemoveNatureAction"
               label="%action.label.0"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="eclProblem"
         name="%extension.name.4"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.hpccsystems.eclide"
            name="%category.name.2">
      </category>
      	<wizard
             category="org.hpccsystems.eclide"
             class="org.hpccsystems.eclide.wizards.ECLNewProjectWizard"
             finalPerspective="org.hpccsystems.eclide.perspectives.ECLPerspective"
             icon="icons/releng_gears.gif"
             id="org.hpccsystems.eclide.wizards.ECLNewProjectWizard"
             name="%wizard.name.1"
             preferredPerspectives="org.hpccsystems.eclide.perspectives.ECLPerspective"
             project="true">
         	<description>
            	%wizard.description.1
         	</description>
      	</wizard>
      <wizard
            category="org.hpccsystems.eclide"
            class="org.hpccsystems.eclide.wizards.ECLNewFileWizard"
            finalPerspective="org.hpccsystems.eclide.perspectives.ECLPerspective"
            icon="icons/releng_gears.gif"
            id="org.hpccsystems.eclide.wizards.ECLNewFileWizard"
            name="%wizard.name.2"
            preferredPerspectives="org.hpccsystems.eclide.perspectives.ECLPerspective">
         <description>
            %wizard.description.2
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.hpccsystems.eclide.launchers.ECLLaunchDelegate"
            id="org.hpccsystems.eclide.launching.ECLConfigurationType"
            modes="run"
            name="%launchConfigurationType.name"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.hpccsystems.eclide.launching.ECLConfigurationType"
            icon="icons/releng_gears.gif"
            id="org.hpccsystems.eclide.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.hpccsystems.eclide.launchers.ECLLaunchTabGroup"
            id="org.hpccsystems.eclide.launching.ECLConfigurationType"
            type="org.hpccsystems.eclide.launching.ECLConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.hpccsystems.eclide.launchers.ECLLaunchShortcutLocal"
            icon="icons/releng_gears.gif"
            id="org.hpccsystems.eclide.launchers.ECLShortcut"
            label="%shortcut.label"
            modes="run">
         <contextualLaunch>
		 <enablement>
           <with variable="selection">
             <count value="1"/>
             </with>
             </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            markerType="org.hpccsystems.eclide.eclProblem"
            class="org.hpccsystems.eclide.problem.QuickFixer">
      </markerResolutionGenerator>
   </extension>

</plugin>
