<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
<extension-point id="symbollist" name="symbollist" schema="schema/symbollist.exsd"/>
<extension
      point="org.seisint.eclide.runtime.symbols.symbollist">
      	<symbollist
            class="org.seisint.eclide.runtime.symbols.OctaveSymbolList"
            priority="0">
      	</symbollist>
</extension>
</plugin>
