a
{
	text-decoration: none;
	font-weight: bold;
	color: #4B107E;
}

a:hover
{
	text-decoration: underline;
	font-weight: bold;
}

.nav ul li a
{
	color: #C9123F;
}

.nav ul li a:hover
{
	color: #000;
}

body
{
	margin-top: 0px;
	font-size: 0.8em;
	background-color: #F9F7ED;
}

h1 small
{
	font-size: 0.7em;
}

.alt
{
	color: #7794AA;
}

.blurb
{
  padding-top: 10px;
	background-color: transparent !important;
}

.col
{
	background-color: #F9F7ED !important;
}

.dlink
{

}

.container
{
	background: transparent url( '../images/feather.gif' ) no-repeat left;
	background-position: 575px 10px;
  padding-left: 10px;
}

#sub .container
{
	background: transparent url( '../images/feather-small.gif' ) no-repeat left;
	background-position: 645px 12px;
}

#header h1
{
  width: 600px;
}

.highlight
{
	font-weight: bold;
	color: #333;
	font-size: 1.25em;
}

.navigation
{
	padding-top: 8px;
	text-align: center;
	background: #eee;
	height: 25px;
	border-bottom: 1px solid #ddd;
}

.navigation ul li
{
	display: inline;
	padding: 10px;
}

.search
{
	padding-top: 0px !important;
}

.searchsub {
  padding-bottom: 10px;
}

.search input[type=text]
{
	margin-top: 0px !important;
	padding: 1px;
	font-size: 1.1em;
	width: 15.0em;
	color: #aaa;
}

.content img
{
  margin-left: 10px;
  padding: 3px;
  background-color: white;
  border: 1px solid #ccc;
}

.content h4
{
       font-weight: bold;
}

.noborder 
{
  border: 0px;
}
