<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
         <launchConfigurationType
               delegate="org.seisint.eclide.internal.launching.OctaveLaunchConfigurationDelegate"
               id="org.seisint.eclide.launching.OctaveLaunchConfigurationType"
               modes="run,debug"
               name="%OctaveLaunchConfigurationType.name"
               public="true"
               sourceLocatorId="octaveSourceLocator"
               sourcePathComputerId="octaveSourcePathComputer">
		  </launchConfigurationType>      
	</extension>
  	<extension
        point="org.eclipse.debug.core.sourcePathComputers">
     	<sourcePathComputer
           	class="org.eclipse.dltk.launching.sourcelookup.ScriptSourcePathComputer"
           	id="octaveSourcePathComputer"/>
  	</extension>
  	<extension
    	point="org.eclipse.debug.core.sourceLocators">
     	<sourceLocator
           	class="org.eclipse.dltk.launching.sourcelookup.ScriptSourceLookupDirector"
           	id="octaveSourceLocator"
           	name="%OctaveSourceLocator.name"/>
  	</extension>
   	<extension
        point="org.eclipse.dltk.console.scriptInterpreter">
      	<scriptInterpreter
            class="org.seisint.eclide.console.OctaveInterpreter"
            natureID="org.seisint.eclide.core.nature"/>
   	</extension>
   	<extension
    	point="org.eclipse.dltk.launching.interpreterInstallTypes">
        <interpreterInstallType
            class="org.seisint.eclide.internal.launching.OctaveInterpreterInstallType"
            id="org.seisint.eclide.launching.OctaveInterpreterInstallType">
      	</interpreterInstallType>   
   	</extension>
   	<extension point="org.eclipse.dltk.launching.debuggingEngine">
		<engineContribution
			natureId="org.seisint.eclide.core.nature">
			<engine
	         	class="org.seisint.eclide.internal.launching.debug.OctaveEngineDebuggerRunnerFactory"
	         	description="%OctclipseDebuggingEngine.description"
	         	id="org.seisint.eclide.launching.debug.OctaveEngineDebuggerRunner"
	         	name="%OctclipseDebuggingEngine.name"
	         	preferencePageId="org.seisint.eclide.launching.debug.preferences.octave.debugger"
        		propertyPageId="org.seisint.eclide.launching.debug.propertyPage.octave.debugger"
          		priority="0" />
          	<selector
        		class="org.seisint.eclide.internal.launching.debug.OctaveDebuggingEngineSelector" />
        </engineContribution>
	</extension>
 	<extension
       	point="org.eclipse.ui.preferencePages">
    	<page 
    		category="org.seisint.eclide.preferences.debug.engine"
          	class="org.seisint.eclide.internal.launching.debug.preferences.OctaveEngineDebuggerPreferencePage"
          	id="org.seisint.eclide.launching.debug.preferences.octave.debugger"
          	name="%OctclipseDebuggerPreferencePage.name">
    	</page>
 	</extension>
 	<extension
    	point="org.eclipse.ui.propertyPages">
    	<page 
    		class="org.seisint.eclide.internal.launching.debug.preferences.OctaveEngineDebuggerPreferencePage"
			category="org.seisint.eclide.propertyPage.debug.engine"
		    id="org.seisint.eclide.launching.debug.propertyPage.octave.debugger"
		    name="%OctclipseDebuggerPropertyPage.name">
      		<enabledWhen>
        		<adapt type="org.eclipse.core.resources.IProject">
          			<test property="org.eclipse.core.resources.projectNature" value="org.seisint.eclide.core.nature"/>
        		</adapt>         
      		</enabledWhen>
   		</page>
  	</extension>
  	<extension point="org.eclipse.core.runtime.preferences">
    	<initializer 
      		class="org.seisint.eclide.internal.launching.debug.preferences.OctaveEngineDebuggerPreferenceInitializer"/>
  	</extension>
</plugin>
