a#octclipse img { background-image : url(graphics/obj_48/octdev_obj.gif); }
a#octclipse:hover img { background-image : url(graphics/obj_48/octdevhov_obj.gif); }

a#octave img { background-image : url(graphics/obj_48/octdev_obj.gif); }
a#octave:hover img { background-image : url(graphics/obj_48/octdevhov_obj.gif); }

a#hello-world-octclipse img { background-image : url(graphics/obj_48/mapp_obj.gif); }
a#hello-world-octclipse:hover img { background-image : url(graphics/obj_48/mapphov_obj.gif); }

body {
	background-image : url(../../org.eclipse.platform/css/graphics/contentpage/overview_wtr.jpg);
}
